body {
    line-height: 150%;
    color: #000000;
    background-color: #7fffd4;
}

.jumbotron {
	background-image: url("https://i.ytimg.com/vi/oV_idfKcCdQ/maxresdefault.jpg");
	background-size: 800px 400px;
	opacity: 0.65;
	color: #000000;
	font-weight: bolder;
}

.navbar-default {
    background-color: #7fffd4;
    border-color: #000000;
    padding-bottom: 12px;
    color: #a52a2a;
    text-shadow: 2px 2px 4px #0000ff;
}

h1 {
    font-size: 4em;
    text-align: center;
    font: #000000;
    font-weight: bolder;
}

p {
	text-align: center;
    font: #000000;
    font-weight: bolder;
}

.panel .panel-body {
    padding: 5px 0px 0px 5px;
    background-color: #7fffd4;
}

.panel {
    border: 1px solid #7fffd4;
    margin-right: 5px;
}






